
<div class="clear"></div>

<div class="frame-full">
    <div class="line"></div>
    
        <h2 style="color: rgb(0, 141, 184)"><%= @fundraiser.title %></h2><h2 style="float:right; color: orange"><%= @fundraiser.status %></h2>
        <p><%= @fundraiser.description %></p>
                
        <table class="table table-striped text-center">
                    <tr>
                        <th><h3>Location</h3></th>
                        <th><h3>Start Time</h3></th>
                        <th><h3>Event Duration</h3></th>
                        <th><h3>Price</h3></th>
                    </tr>
                    <tr>
                        <td><%= @fundraiser.fundraiser_info("location") %></td>
                        <td><%= @fundraiser.time.strftime("%I:%M %p") unless @fundraiser.time.nil?%></td>
                        <td><%= @fundraiser.fundraiser_info("duration") %> minutes</td>
                        <td>$<%= @fundraiser.fundraiser_info("price") %></td>
                    </tr>
        </table>
            <% if !current_user.rsvpd(@fundraiser).empty? && @fundraiser.status != "Completed"%>
                <span style="color: green; float: left">Already RSVP'd!</span>
                <%= link_to "Cancel Reservation", reservation_path(current_user.rsvpd(@fundraiser)), method: :delete, class: "btn btn-danger push-right", style: "margin-left: 10px;"%>
                <%= link_to "Edit Reservation", edit_fundraiser_reservation_path(@fundraiser, current_user.rsvpd(@fundraiser)), class: "btn btn-primary push-right"%>
            <% else %>
                <%= link_to 'RSVP!', new_fundraiser_reservation_path(@fundraiser), class: "btn btn-primary", style: "float: right" unless @fundraiser.status == "Completed"%>
            <% end %>

            <div class="clear"></div>
            <div class="line"></div>
            <h1>Comments</h1>
            <div class="line"></div>
            
            <% @fundraiser.comments.reverse.each do |c| %>
                <% if c.user == current_user %>
                    <p><%=link_to c.text, edit_fundraiser_comment_path(@fundraiser, c) %> - <%= c.show_comment_info%>   <%= link_to "Delete", fundraiser_comment_path(@fundraiser, c), method: :delete %></td></p>
                <% else %>
                    <p><%=c.text %> - <%= c.show_comment_info%></p>
                <% end %>
            <% end %>
            
            <div class="line"></div>
            
            <%= render partial: '/comments/comment_field', locals: {fundraiser: @fundraiser} %>
        
    

</div>