<div class="clear"></div>
    <div class="frame-full">
        <h2 style="color: rgb(0, 141, 184)"><%= @fundraiser.title %></h2>
        <div class="line"></div>
        <p><%= @fundraiser.description %></p>

            <table class="table table-striped text-center">
                <tr>
                    <th><h3>Location</h3></th>
                    <th><h3>Start Time</h3></th>
                    <th><h3>Event Duration</h3></th>
                    <th><h3>Price</h3></th>
                </tr>
                <tr>
                    <td><%= @fundraiser.location %></td>
                    <td><%= @fundraiser.time.strftime("%I:%M %p") %></td>
                    <td><%= @fundraiser.duration %> minutes</td>
                    <td>$<%= @fundraiser.price %></td>
                </tr>
            </table>
</div>