<div class="clear"></div>
    <div class="frame-full">
 
    <div class="line"></div>
    
        <h2 style="color: rgb(0, 141, 184)"><%= @fundraiser.title %></h2>
        <p><%= @fundraiser.description %></p>
                <table class="table table-striped text-center">
                    <tr>
                        <th><h3>Location</h3></th>
                        <th><h3>Start Time</h3></th>
                        <th><h3>Event Duration</h3></th>
                        <th><h3>Price</h3></th>
                    </tr>
                    <tr>
                        <td><%= @fundraiser.location %></td>
                        <td><%= @fundraiser.time.strftime("%I:%M %p") %></td>
                        <td><%= @fundraiser.duration %> minutes</td>
                        <td>$<%= @fundraiser.price %></td>
                    </tr>
                </table>
            <% if !current_user.rsvpd(@fundraiser).empty? %>
                <span style="color: green; float: left">Already RSVP'd!</span>
                <%= link_to "Cancel Reservation", reservation_path(current_user.rsvpd(@fundraiser)), method: :delete, class: "btn btn-danger", style: "float: right"%>
            <% else %>
                <%= link_to 'RSVP!', new_fundraiser_reservation_path(@fundraiser), class: "btn btn-primary", style: "float: right" %>
            <% end %>

            <div class="clear"></div>
            <div class="line"></div>
            <h1>Comments</h1>
            <div class="line"></div>
            
            <% @fundraiser.comments.each do |c| %>
                <p><%=c.user.first_name%>: <%= c.text %> - <%=c.post_time %></p>
            <% end %>
            
            <div class="line"></div>
            
            <%= render partial: '/comments/comment_field', locals: {fundraiser: @fundraiser} %>
        
    

</div>