
<div class="clear"></div>

<div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="header-frame text-center">
            <h1>School</h1>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="header-frame text-center">
            <h1>Household</h1>
        </div>
    </div>
</div>
    <div class="row clearfix">
        <div class="col-md-6 col-sm-6">
            <div class="frame">
                <h1>My School</h1>
                <div class="line"></div>
                    <h3><%=@user.school.name%></h3></br>
                    <span>
                        <%=@user.school.address%></br>
                        <%=@user.school.city%>, <%=@user.school.state%> <%=@user.school.zipcode%></br>
                    </span>
                    <%= link_to "Edit Profile", edit_user_path(current_user), :class => "btn btn-primary", :style => "float: right"%>

            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="frame text-center">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th><h3>Student Name</h3></th>
                            <th><h3>Grade</h3></th>
                            <th><h3>Action</h3></th>
                        </tr>
                            <% @user.household.students.each do |student| %>
                            <tr>
                                <td><%= student.full_name %></td>
                                <td><%= student.grade %></td>
                                <td><%= link_to "Edit", edit_student_path(student), :class => "btn btn-primary"%></td>
                            </tr>
                            <% end %>
                    </table>
                        <%= link_to 'Add Student', new_household_student_path(@user.household), :class => "btn btn-primary", :style => "float: left" %>
                </div>
             </div>
        </div>
    </div>  
    
<div class="clear"></div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="header-frame-full text-center">
            <h1>Fundraisers/Events</h1>
        </div>
    </div>                     
    <div class="col-md-12 col-sm-12">
            <div class="frame-full text-center">
                <div class="table-responsive">                
                    <table class="table table-striped">
                        <tr>
                            <th></th>
                            <th><h3>Fundraiser/Event</h3></th>
                            <th><h3>Event Date</h3></th>
                            <th><h3>Price</h3></th>
                            <th><h3>Location</h3></th>
                            <th></th>
                        </tr>
                            <% @user.school.fundraisers.each do |fundraiser| %>
                            <tr>
                            <% if !current_user.rsvpd(fundraiser).empty? %>
                                <td><%= link_to "Already RSVP'd! View Details", reservation_path(current_user.my_reservation(fundraiser)), class: "btn btn-link", style: "color: green" %></td>
                            <% else %>
                                <td><%= link_to "View Details/RSVP!", new_fundraiser_reservation_path(fundraiser), class: "btn btn-link" %></td>
                            <% end %>
                                <td><%= fundraiser.title %></td>
                                <td><%= fundraiser.date.strftime("%m/%d/%Y") %></td>
                                <td>$<%= fundraiser.price %></td>
                                <td><%= fundraiser.location %></td>
                                <% if @user.admin? %>
                                     <td><%= link_to raw("&#9998;"), edit_fundraiser_path(fundraiser) %><%= link_to raw("&#10006;"), fundraiser_path(fundraiser), method: :delete, style: "color: red" %></td>
                                <% end %>
                            </tr>
                            <% end %>
                    </table>
                    <% if @user.admin? %>
                         <%= link_to 'Add Fundraiser', new_fundraiser_path, :class => "btn btn-primary", :style => "float: left" %>
                    <% end %>
                </div>
             </div>
        </div>   
    </div>                         