    <% if @user.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@user.errors.count, "error") %> prohibited this account from being created:</h2>
            
                <ul>
                    <% @user.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

<%= form_for @user do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control", :required => true %></br>

    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control", :required => true %></br>

    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "form-control", :required => true %></br>

    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: "form-control", :required => true %></br>

    <h3>Select School</h3>

    <%= f.label :school_name %>
    <%= f.collection_select :school_id, School.all, :id, :name, {}, {class: "form-control", :required => true} %></br>

    <%= f.submit class: "btn btn-outline-light"  %>


<% end %>