<% if @reservation.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being made:</h2>

    <ul>
        <% @reservation.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>

<h2 style="color: rgb(0, 141, 184)"><%= @fundraiser.title %></h2>
<h2 style="color: orange"><%= completed?(@fundraiser)%></h2>
<div class="line"></div>
    <p><%= @fundraiser.description %></p>
        <table class="table table-striped text-center">
            <tr>
                <th><h3>Location</h3></th>
                <th><h3>Start Time</h3></th>
                <th><h3>Event Duration</h3></th>
                <th><h3>Price</h3></th>
            </tr>
            <tr>
                <td><%= @fundraiser.location %></td>
                <td><%= @fundraiser.time.strftime("%I:%M %p") %></td>
                <td><%= @fundraiser.duration %> minutes</td>
                <td>$<%= @fundraiser.price %></td>
            </tr>    
        </table>
        <p style="color:orange"><%= @fundraiser.notice %></p>
        <div class="line"></div>
       

    <h2>RSVP!</h2>
    <div class="line"></div>
    <% if @fundraiser.status == "Pending" %>
        <%= form_for @reservation do |f| %>
        <%= f.hidden_field :fundraiser_id, :value => @fundraiser.id %>    
        <%= f.label :number_attending %>
        <%= f.text_field :number_attending, class: "form-control", :required => true %></br>
        <%= f.label :attendees %></br>
            <%= f.collection_check_boxes :id, @household.students, :id, :full_name, :item_wrapper_class => 'form-check' do |b| %>
            <div class="checkbox">
                <%= b.check_box %>
                <%= b.label class: "checkboxes" %>
            </div>
                <% end %>
        </br>
        <%= f.submit class: "btn btn-outline-light"  %>
        <% end %>
    <% else %>
        <%= form_for @reservation do |f| %>
            <%= f.hidden_field :fundraiser_id, :value => @fundraiser.id %>    
            <%= f.label :number_attending %>
            <%= f.text_field :number_attending, class: "form-control", :required => true, disabled: true%></br>
            <%= f.label :attendees %></br>
                <%= f.collection_check_boxes :id, @household.students, :id, :full_name, :item_wrapper_class => 'form-check' do |b| %>
                <div class="checkbox">
                    <%= b.check_box disabled: true%>
                    <%= b.label class: "checkboxes" %>
                </div>
                    <% end %>
            </br>
    <% end %>
<% end %>
