<!DOCTYPE html>
<html>
  <head>
    <title>PTYAY</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Staatliches|Covered+By+Your+Grace|News+Cycle&display=swap" rel="stylesheet">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <div class="container-fluid full-panel">
            <div class="row clearfix">
                <div class="text-center col-md-3 col-sm-3">
                        <img class="logo img-fluid" src="/assets/ptyay.png" alt="logo">
                            <% if current_user && current_user.school_id != nil%>
                                <%= render :partial => "profile" %>
                            <% end %>
                </div>
                <div class="col-md-9 col-sm-9">
                    
                      <%= yield %>
              
                </div>
            </div>
        </div>
  
    <div class="fixed-bottom"> 
      <img class="marz img-fluid" src="/assets/marzlogo.png" alt="Marz Logo">
      <p class="align-self-center">Powered by </p>
    </div>
    
  </body>
</html>
