<div class="clear"></div>

<div class="row">
        <div class="header-frame text-center">
            <h1>Household Information</h1>
        </div>
</div>

    <div class="row clearfix">
            <div class="frame text-center">
                <table class="table table-striped">
                    <tr>
                        <th> </th>
                        <th><h3>Student Name</h3></th>
                        <th><h3>Grade</h3></th>
                        <th><h3>Participation Points</h3></th>
                        <th><h3>Action</h3></th>
                    </tr>
                        <% @household.students.each do |student| %>
                        <tr>
                            <td class="badges"><%= image_tag(student.badge) %></td>
                            <td><%= student.full_name %></td>
                            <td><%= student.grade %></td>
                            <td><%= student.participation_points_by_student %></td>
                            <td><%= link_to "Edit", edit_student_path(student), :class => "btn btn-primary", style: "margin-right: 10px"%><%= link_to "Delete", student_path(student), :method => "delete", :class => "btn btn-danger"%></td>
                        </tr>
                        <% end %>
       
                </table>
            </div>
        </div>  
        <%= link_to 'Add Student', new_household_student_path(@household), :class => "btn btn-success" %>

